#content{
	width:100%;
	margin-top: 9px;
	font-size: 0px;
}
#content>div{
	display: inline-block;
	vertical-align: top;
}
#content #content_left{
	width:710px;
}
#content #content_right{
	width: 240px;
	margin-left: 10px;
}
/*左边布局*/
#content_left>div{
	margin-bottom: 10px;
	font-size: 0;
	float: left;
}
#content_left>div>div{
	float: left;
	width: 348px;
	border: 1px solid #e5e5e5;
	border-radius: 7px;
}
#content_left>div>div:nth-of-type(1){
	margin-right: 10px;
}
#content_left .left_1>div{
	height: 418px;
}
#content_left .left_2{
	width:100%;
	height: 88px;
	border-radius: 7px;
}
#content_left .left_3>div{
	height: 498px;
}
#content_left .left_4>div{
	height: 328px;
}
#content_left .left_5{
	width:100%;
	height: 88px;
	border-radius: 7px;
}
#content_left .left_6>div{
	height: 298px;
}
#content_left .left_7>div{
	height: 248px;
}
/*左边内容*/
.left_1_left{
	overflow: hidden;
}
.left_1_left>div{
	margin: 10px 15px;
}
.left_1_left .left_1_l_top{
	height:24px;
	margin-top:15px;
}
.left_1_l_top>span{
	font-size: 18px;
	color: #d90000;
	margin-right: 8px;
}
.left_1_l_top>img{
	vertical-align: top;
	margin-top: -5px;
}
.left_1_l_bottom{
	overflow: hidden;
}
.left_1_l_bottom>div{
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
}
.left_1_l_bottom>div>p:before{
	content: "";
	display: inline-block;
	width: 2px;
	height: 3px;
	background: #d20f02;
	vertical-align: middle;
	margin-right: 2px;
	margin-left: 15px;
}
#content_left .left_1 .left_1_right{
	border-top: none;
	vertical-align: top;
}
.left_1_r_top{
	height:35px;
	font-size: 0;
}
.left_1_r_top>div{
	display: inline-block;
	width: 173px;
	height: 34px;
	border: 1px solid #E5E5E5;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: center;
	line-height: 34px;
	background: -webkit-linear-gradient(top,#ffffff,#f3f3f3);
}
.left_1_r_top>.r_top_left{
	border-left: none;
}
.left_1_r_top>.r_top_right{
	border-right: none;
}
.left_1_r_top  span{
	display: inline-block;
}
.left_1_r_top .span_l{
	color: #666666;
}
.left_1_r_top .span_r{
	border-top:4px solid #c1c1c1;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.left_1_r_top .span_c{
	font-size: 14px;
	margin: 0 9px;
}
.left_1_r_top>div:hover{
	background: #FFFFFF;
	border-bottom: none;
}
.left_1_r_top>div:hover .span_l{
	color:#cc0d13;
}
.left_1_r_top>div:hover .span_r{
	border-top: 4px solid #ca0309;
}

.left_1_r_bottom{
	margin:15px;
}
.left_1_r_bottom .r_bottom{
	width:318px;
	height: 108px;
	margin-top: 6px;
}
.r_bottom>div{
	float: left;
}
.r_bottom .r_bottom_l{
	width:106px;
	margin-top: 16px;
	position: relative;
}
.r_bottom_l>img:nth-of-type(2){
	position: absolute;
	bottom: -6px;
	right: -6px;
}
.r_bottom .r_bottom_r{
	width: 200px;
	height: 108px;
	background: -webkit-linear-gradient(top right,#f5f5f5,#ffffff);
	border-radius: 7px;
	margin-left: 12px;
	position: relative;
}
.r_bottom_r>img{
	position: absolute;
	top: 0;
	right: 0;
}
.r_bottom_r>div{
	margin-top: 23px;
	line-height: 16px;
}
.r_bottom_r>div>p{
	color: #6e6e6e;
}
.r_bottom_r>div>p:nth-of-type(1){
	color: #bb0d0d;
}
.left_1_r_bottom>img{
	float: right;
	margin-top: 10px;
}
.left_3_left>div{
	width:310px;
	margin-left:19px;
	margin-top: 10px;
}
.left_3_left .left_3_l_top{
	height: 60px;
	border-bottom: 1px solid #E5E5E5;
}
.left_3_l_top>div{
	display: inline-block;
	margin-top: 10px;
}
.left_3_l_top>div>p:nth-child(1){
	color:#ea2b31;
}
.left_3_l_top>div>p:nth-child(2){
	font-size: 24px;
}
.left_3_l_top>span{
	font-size: 36px;
	color: #ec1c16;
}
.left_3_l_middle>div{
	width:201px;
	float: right;
}
.left_3_l_middle>div>div{
	display: inline-block;
	width: 24px;
	height:24px;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	text-align: center;
	line-height: 24px;
	color: #cf1812;
}
.left_3_l_middle>div>span{
	font-weight: 900;
}
.left_3_l_middle>div>p{
	margin-top: 8px;
	color: #999999;
	line-height: 18px;
}
.left_3_l_bottom tr:nth-of-type(1){
	background:-webkit-linear-gradient(top,#f7f7f6,#fff)
}
.left_3_l_bottom tr>th{
	width: 42px;
	height: 42px;
}
.left_3_l_bottom tr>td{
	width: 42px;
	height: 42px;
	background: #ededed;
	text-align: center;
}
.left_3_l_bottom tr .td_bgimg{
	background-image: url(../img/100du_content_left_11.png);
	background-size: 100%;
	position: relative;
}
.td_bgimg .mask{
	width:320px;
	height: 85px;
	border:1px solid #E5E5E5;
	border-radius: 7px;
	background: #fff;
	position: absolute;
	top: -30px;
	left: 49px;
	z-index: 1;
	display: none;
}
.td_bgimg>span{
	border-right:8px solid #fff;
	border-left: 8px solid transparent;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	position:absolute;
	top:11px;
	left:35px;
	z-index: 2;
	display: none;
}
.td_bgimg:hover>span,.td_bgimg:hover .mask{
	display: block;
}
.td_bgimg .mask>div{
	width: 238px;
	text-align: left;
	display: inline-block;
	margin-top: 8px;
}
.td_bgimg .mask>div>img{
	float: right;
	margin-right: 14px;
}
.td_bgimg .mask>div>span:nth-of-type(1){
	font-size: 14px;
}
.td_bgimg .mask>img{
	width:60px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
.left_3_l_bottom tr:nth-last-of-type(1)>td{
	background: #f8f8f8;
	color: #d2d2d2;
}
.left_3_l_bottom .td_bg{
	background: #F8F8F8;
	color: #d2d2d2;
}

.left_3_right>div{
	width:310px;
	margin-left:19px;
	margin-top: 10px;
}
.left_3_r_top>div{
	display: inline-block;
	/*vertical-align: top;
	margin-top:10px;*/
}
.left_3_r_top>div>p:nth-of-type(1){
	color: #d80000;
}
.left_3_r_top>div>p:nth-of-type(2){
	font-size: 22px;
}
.left_3_r_top>span{
	color: #ededed;
	font-size: 30px;
	margin-left: 5px;
}
.left_3_r_top>img{
	vertical-align: bottom;
	margin-bottom: -10px;;
}
.left_3_r_middle{
	height: 180px;
	background: #f8f8f8;
	border-radius: 7px;
	margin-bottom: 20px;
	position: relative;
}
.left_3_r_middle .r_middle_left{
	width: 225px;
	position: absolute;
}
.left_3_r_middle .r_middle_left>img{
	border: 1px solid #fff;
	display: none;
	position: absolute;
	top:12px;
	left:10px;
}
.left_3_r_middle .r_middle_left .r_m_img_1{
	display: block;
}
.left_3_r_middle .r_middle_right{
	width: 60px;
	position: absolute;
	top:12px;
	right: 10px;
}
.left_3_r_middle .r_middle_right>img{
	border: 6px solid #fff;
}
.r_middle_right .r_m_img_1_1:hover{
	border: 6px solid #d6191d;
}
.r_middle_right .r_m_img_2_2{
	margin:3px 0px;
}
.r_middle_right .r_m_img_2_2:hover{
	border: 6px solid #d6191d;
}
.r_middle_right .r_m_img_3_3:hover{
	border: 6px solid #d6191d;
}
.left_3_r_middle>p{
	color: #d80000;
	position:absolute;
	bottom: 12px;
	left: 10px;
}

.left_3_r_bottom{
	position: relative;
}
.left_3_r_bottom>div{
	margin-bottom: 10px;
}
.left_3_r_bottom .span_l:before{
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #dfdfdf;
	margin-left: 25px;
	margin-right: 5px;
	vertical-align: middle;
}
.left_3_r_bottom>div>img{
	position: absolute;
	right: 292px;
	margin-top: 3px;
}
.left_3_r_bottom>div>span:nth-of-type(2){
	color: #999999;
	float: right;
	margin-right: 5px;
}

#content_left .left_4 .left_4_left{
	border-top: none;
}
.left_4_l_top{
	height:35px;
	font-size: 0;
}
.left_4_l_top>div{
	display: inline-block;
	width: 173px;
	height: 34px;
	border: 1px solid #E5E5E5;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: center;
	line-height: 34px;
	background: -webkit-linear-gradient(top,#ffffff,#f3f3f3);
}
.left_4_l_top>.l_top_left{
	border-left: none;
}
.left_4_l_top>.l_top_right{
	border-right: none;
}
.left_4_l_top  span{
	display: inline-block;
}
.left_4_l_top .span_l{
	color: #666666;
}
.left_4_l_top .span_r{
	border-top:4px solid #c1c1c1;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.left_4_l_top .span_c{
	font-size: 14px;
	margin: 0 9px;
}
.left_4_l_top>div:hover{
	background: #FFFFFF;
	border-bottom: none;
}
.left_4_l_top>div:hover .span_l{
	color:#cc0d13;
}
.left_4_l_top>div:hover .span_r{
	border-top: 4px solid #ca0309;
}
.left_4_l_middle,.left_4_l_bottom{
	width:310px;
	margin-left:19px;
	margin-top: 20px;
}
.left_4_l_bottom>div{
	width: 53px;
	height: 23px;
	border-radius: 5px;
	text-align: center;
	line-height: 23px;
	float: left;
	margin-right: 5px;
}
.left_4_l_bottom>div:hover span{
	color: #fff;
}
.l_bottom_subway1{
	border: 1px solid #dc0000;
}
.l_bottom_subway1>span:nth-of-type(1){
	color: #dc0000;
}
.l_bottom_subway1:hover{
	background: #dc0000;
}
.l_bottom_subway2{
	border: 1px solid #003399;
}
.l_bottom_subway2>span:nth-of-type(1){
	color: #003399;
}
.l_bottom_subway2:hover{
	background: #003399;
}
.l_bottom_subway3{
	border: 1px solid #ff9900;
}
.l_bottom_subway3>span:nth-of-type(1){
	color: #ff9900;
}
.l_bottom_subway3:hover{
	background: #ff9900;
}
.l_bottom_subway4{
	border: 1px solid #dc0000;
}
.l_bottom_subway4>span:nth-of-type(1){
	color: #dc0000;
}
.l_bottom_subway4:hover{
	background: #dc0000;
}
.l_bottom_subway5{
	border: 1px solid #903077;
}
.l_bottom_subway5>span:nth-of-type(1){
	color: #903077;
}
.l_bottom_subway5:hover{
	background: #903077;
}
.left_4_right>div{
	width:310px;
	margin-left:19px;
	margin-top: 10px;
}
.left_4_r_top{
	margin: 10px 0;
}
.left_4_r_top>span:nth-of-type(1){
	color: #cc0d13;
}
.left_4_r_top>img{
	float: right;
}
.r_bottom_top{
	width: 100%;
	height: 30px;
	background: #f1f1f1;
	line-height: 30px;
	margin: 3px 0;
	border-radius: 7px;
}
.r_bottom_top .span_l{
	color: #d80000;
	margin-left: 10px;
	margin-right: 20px;
}
.r_bottom_top .span_r{
	float: right;
	margin-right: 20px;
	color: #666666;
}
.left_4_r_bottom>div:hover .r_bottom_top{
	display: none;
}
.left_4_r_bottom:hover #r_bottom_top{
	display: block;
}
.left_4_r_bottom:hover #r_bottom_mask{
	display: none;
}
.left_4_r_bottom>div:hover .r_bottom_mask{
	display: block;
}
.r_bottom_1:hover #r_bottom_mask{
	display: block;
}
.r_bottom_1:hover #r_bottom_top{
	display: none;
}
.r_bottom_1 .r_bottom_mask{
	display: block;
}
.r_bottom_1 .r_bottom_top{
	display: none;
}
.r_bottom_mask{
	width: 100%;
	height: 70px;
	background: #d90000;
	border-radius: 7px;
	position: relative;
	display: none;
}
.r_bottom_mask>img{
	float: left;
	margin: 10px;
}
.r_bottom_mask>div{
	display: inline-block;
	margin-top:10px;
	color: #fff;
	line-height: 24px;
}
.r_bottom_mask>p{
	position: absolute;
	bottom: -7px;
	right: 5px;
	color: #fff;
	font-size: 20px;
}

.left_6_left>div{
	width:310px;
	margin-left:19px;
	margin-top: 10px;
}
.left_6_l_top{
	margin: 10px 0;
}
.left_6_l_top>span:nth-of-type(1){
	color: #cc0d13;
}
.left_6_l_top>img{
	float: right;
}
.left_6_l_bottom .l_bottom_top{
	height: 25px;
	border-bottom: 1px solid #dadada;
}
.left_6_l_bottom .l_bottom_top>div:nth-of-type(1){
	margin-left: 10px;
}
.left_6_l_bottom .l_bottom_top>div{
	width: 95px;
	height: 24px;
	background: -webkit-linear-gradient(top,#f3f3f3,#fff);
	border: 1px solid #dadada;
	border-bottom: none;
	float: left;
	margin-left: -1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
	line-height: 24px;
}
.l_bottom_top>div>span{
	display: inline-block;
}
.l_bottom_top>div .span_l{
	color: #666666;
}
.l_bottom_top>div .span_r{
	border-top:4px solid #c4bebe;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin-left: 5px;
}
.l_bottom_top>div:hover{
	background: #fff;
	border-bottom: 1px solid #fff;
}
.l_bottom_top>div:hover .span_l{
	color: #454545;
}
.l_bottom_top>div:hover .span_r{
	border-top: 4px solid #ca0309;
}
.l_bottom_middle>div{
	border-bottom: 1px dotted #cbcbca;
	padding: 7px 0;
}
.l_bottom_middle .l_bottom_m_head{
	color: #999999;
	text-align: center;
}
.l_bottom_m_head>span:nth-of-type(2){
	float: right;
	margin-right: 10px;
}
.l_bottom_m_content .span_l:before{
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	background: #d4051f;
	vertical-align: middle;
	margin-right: 8px;
}
.l_bottom_m_content .span_l{
	color: #767676;
	margin:0px 8px;
}
.l_bottom_m_content .span_l>span{
	color: #c75d61;
}
.l_bottom_m_content .span_r{
	color: #454545;
}
.l_bottom_m_content>img{
	float: right;
	margin-right: 18px;
	margin-top: 3px;
}
.l_bottom_bottom{
	margin-top: 10px;
}
.l_bottom_bottom>span{
	color: #595959;
}
.l_bottom_bottom>img{
	float: right;
	margin-right: 18px;
}
.left_6_right .left_6_r_top{
	width:310px;
	margin-left:19px;
	margin-top: 10px;
}
.left_6_r_top{
	margin: 10px 0;
}
.left_6_r_top>span:nth-of-type(1){
	color: #cc0d13;
}
.left_6_r_top>img{
	float: right;
}
.left_6_r_bottom{
	margin: 15px;
}
.left_6_r_bottom>img{
	float: left;
	margin: 1px;
}
.left_7_left>div, .left_7_right>div{
	width:310px;
	margin-left:19px;
	margin-top: 10px;
}
.left_7_l_top{
	margin: 15px 0;
}
.left_7_l_top>span:nth-of-type(1){
	color: #cc0d13;
}
.left_7_l_middle{
	border-bottom: 1px solid #ededee;
}
.left_7_l_middle>p{
	text-indent: 2em;
}
.left_7_l_middle>img{
	margin:15px 5px;
}
.left_7_l_bottom>div{
	float: left;
	margin-left: 10px;
	margin-top: 15px;
}
.left_7_l_bottom .l_bottom_r{
	margin-left: 65px;
}
.left_7_l_bottom>div>p:before{
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	background: #b4040a;
	vertical-align: middle;
	margin-right: 5px;
}

.left_7_r_top{
	margin: 10px 0;
}
.left_7_r_top>span:nth-of-type(1){
	color: #cc0d13;
}
.left_7_r_top>img{
	float: right;
}
.left_7_r_bottom>div{
	margin-top: 20px;
}
.left_7_r_bottom>div>img{
	float: left;
	margin-right: 8px;
}

/*右边布局*/
#content_right>div{
	width: 238px;
	border: 1px solid #E5E5E5;
	border-radius: 7px;
	margin-bottom: 10px;
}
.right_1{
	height: 138px;
	overflow: hidden;
}
.right_1 .right_1_top{
	height: 34px;
	border-bottom: 1px solid #E5E5E5;
	background: -webkit-linear-gradient(top,#fff,#f3f3f3);
	line-height: 34px;
}
.right_1_top>span:nth-of-type(1){
	color: #cc0d13;
	margin-left: 12px;
}
.right_1_middle,.right_1_bottom{
	width: 210px;
	margin-left: 15px;
	margin-top: 10px;
}
.right_1_middle{
	border-bottom: 1px solid #E5E5E5;
}
.right_1_middle>div{
	margin: 10px 0;
}
.right_1_middle>div>input:nth-of-type(1){
	width: 87px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	margin-right: 5px;
}
.right_1_middle>div>button{
	width: 45px;
	height: 18px;
	color: #fff;
	border: none;
	border-radius: 9px;
	background: #e10000;
	box-shadow: 2px 2px 5px #b18f91;
}
.right_1_bottom>span:before{
	content: "";
	display: inline-block;
	width: 2px;
	height: 3px;
	background: #d20f02;
	vertical-align: middle;
	margin-right: 5px;
}
.right_1_bottom>span:nth-of-type(1){
	margin-left: 20px;
	margin-right: 30px;
}
.right_2{
	height: 88px;
}
#content_right .right_3{
	height: 180px;
	border:none;
}

#content_right .right_top{
	margin: 10px 0;
}
#content_right .right_top>span:nth-of-type(1){
	color: #cc0d13;
}
#content_right .right_top>img{
	float: right;
}
#content_right>div:nth-of-type(n+4)>div{
	width: 210px;
	margin-left: 15px;
}
.right_4{
	height: 238px;
}
.right_4 .right_4_middle{
	height: 23px;
	border-bottom: 1px solid #dadada;
}
.right_4 .right_4_middle>div:nth-of-type(1){
	margin-left: 10px;
}
.right_4 .right_4_middle>div{
	width: 62px;
	height: 22px;
	background: -webkit-linear-gradient(top,#f3f3f3,#fff);
	border: 1px solid #dadada;
	border-bottom: none;
	float: left;
	margin-left: -1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
	line-height: 22px;
}
.right_4_middle>div>span{
	display: inline-block;
}
.right_4_middle>div .span_l{
	color: #666666;
}
.right_4_middle>div .span_r{
	border-top:4px solid #c4bebe;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin-left: 3px;
}
.right_4_middle>div:hover{
	background: #fff;
	border-bottom: 1px solid #fff;
}
.right_4_middle>div:hover .span_l{
	color: #454545;
}
.right_4_middle>div:hover .span_r{
	border-top: 4px solid #ca0309;
}
.right_4_bottom>div{
	padding: 5px 0;
}
.right_4_bottom .r_4_bottom_content{
	border-top: 1px dotted #cbcbca;
}
.right_4_bottom .r_4_bottom_head{
	color: #999999;
	text-align: center;
}
.r_4_bottom_head .span_c{
	margin-left: 66px;
}
.r_4_bottom_head .span_r{
	float: right;
	margin-right: 17px;
}
.r_4_bottom_content .span_l:before{
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	background: #d4051f;
	vertical-align: middle;
	margin-right: 8px;
}
.r_4_bottom_content .span_l{
	color: #767676;
	margin:0px 8px;
}
.r_4_bottom_content .span_l>span{
	color: #c75d61;
}
.r_4_bottom_content .span_c{
	color: #d80000;
	margin-left: 15px;
}
.r_4_bottom_content .span_r{
	float: right;
	margin-right: 18px;
	color: #999999;
}
.right_5{
	height: 418px;
}
#content_right .right_5 .right_top{
	margin-bottom: 0;
}
.right_5_bottom>div{
	border-bottom: 1px dotted #E5E5E5;
	padding:10px 0;
}
.right_5_bottom>div:after{
	content: "";
	display: block;
	clear: both;
}
.right_5_bottom_l{
	width: 94px;
	height: 71px;
	border: 1px solid #E5E5E5;
	position: relative;
	float: left;
	margin-right: 10px;
}
.right_5_bottom_l>img:nth-of-type(1){
	border: 2px solid #fff;
}
.right_5_bottom_l>img:nth-of-type(2){
	position: absolute;
	bottom: -6px;
	right: -6px;
}
.right_5_bottom_r>h5{
	color: #b80000;
	margin: 8px 0;
}
.right_5_bottom_r>p{
	color: #666666;
}
.right_5_bottom_r>p>span{
	color: #999999;
}
.right_6{
	height: 178px;
}
#content_right .right_6 .right_6_bottom{
	margin-left: 10px;
}
.right_6_bottom>p{
	margin-top: 3px;
}
.right_7{
	height: 348px;
}
#content_right .right_7 .right_top{
	margin-bottom: 0;
}
.right_7_middle{
	padding:10px 0;
}
.right_7_middle>div:after{
	content: "";
	display: block;
	clear: both;
}
.right_7_middle_l{
	width: 94px;
	height: 71px;
	border: 1px solid #E5E5E5;
	position: relative;
	float: left;
	margin-right: 10px;
}
.right_7_middle_l>img:nth-of-type(1){
	border: 2px solid #fff;
}
.right_7_middle_l>img:nth-of-type(2){
	position: absolute;
	bottom: -6px;
	right: -6px;
}
.right_7_middle_r>h5{
	color: #b80000;
	margin: 8px 0;
}
.right_7_middle_r>p{
	color: #666666;
}
.right_7_middle_r>p>span{
	color: #999999;
}
.right_7_bottom>div{
	padding: 5px 0;
	border-top: 1px dotted #E5E5E5;
}
.right_7_bottom>div .span_l>span{
	color: #c75d61;
}
.right_7_bottom>div .span_l{
	color: #c3c3c3;
	margin: 0 5px;
}
.right_7_bottom .span_l:before{
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	background: #d4051f;
	vertical-align: middle;
	margin-right: 8px;
}
.right_8{
	height: 368px;
}
.right_8_middle>div{
	width: 100px;
	float: left;
	margin-right: 5px;
	margin-bottom: 15px;
}
.right_8_middle>div>div:after{
	content: "";
	display: block;
	clear: both;
}
.right_8_middle_l{
	width: 94px;
	height: 71px;
	border: 1px solid #E5E5E5;
	position: relative;
	margin-right: 10px;
}
.right_8_middle_l>img:nth-of-type(1){
	border: 2px solid #fff;
}
.right_8_middle_l>img:nth-of-type(2){
	position: absolute;
	bottom: -6px;
	right: -6px;
}
.right_8_middle_r>h5{
	color: #b80000;
	margin: 8px 0;
}
.right_8_middle_r>p{
	color: #666666;
}
.right_8_middle_r>p>span{
	color: #999999;
}
.right_8_bottom>div{
	padding: 5px 0;
	border-top: 1px dotted #E5E5E5;
}
.right_8_bottom>div .span_l>span{
	color: #c75d61;
}
.right_8_bottom>div .span_l{
	color: #c3c3c3;
	margin: 0 5px;
}
.right_8_bottom .span_l:before{
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	background: #d4051f;
	vertical-align: middle;
	margin-right: 8px;
}