#footer{
	width: calc(100%-2px);
	height: 78px;
	border: 1px solid #E5E5E5;
	border-radius: 7px;
	text-align: center;
	background: #f9f9f9;
}
#footer>div{
	margin-top: 20px;
	margin-bottom: 10px;
}
#footer>div>a{
	text-decoration: none;
	color: #454545;
}
#footer>div>a:before{
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #919191;
	vertical-align: middle;
	margin-right: 5px;
}
#footer>div>a:nth-of-type(1):before{
	background: transparent;
}
